body{
    background-color: #cf19cf;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    font-size: 50px;
    font-weight: 600;
    background-color: bisque;
}