.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    padding: 20x;
}

h2{
    font-size: 40px;
}

#decrementBtn{
    padding: 10px;
}
#incrementBtn{
    padding: 10px;
}

#displayValue{
    font-size: 20px;
    padding: 20px;
    background-color: yellow;
}
#resetBtn{
    padding: 10px;
}